<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<style type="text/css">
</style>
<title>ログインページ</title>
</head>
<body>
	<div class="container">
		<h1 class="text-center">Login Page</h1>
		<form action="/login/confirm" method="post" th:object="${userForm}" class="form-horizontal">
			<div class="form-group">
				<label for="inputName" class="col-xs-2 control-label">Name</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="inputName"
						placeholder="Name" th:field="*{name}" ></input>
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword3" class="col-xs-2 control-label">Password</label>
				<div class="col-xs-10">
					<input type="password" class="form-control" id="inputPassword3"
						placeholder="Password" th:field="*{password}"></input>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-offset-2 col-xs-10">
					<button type="submit" class="btn btn-primary btn-lg">Sign in</button>
				</div>
			</div>
		</form>
		<div class="col-xs-offset-2 col-xs-10">
			<a href="/login/createUserForm">Create New User</a>
		</div>
	</div>

</body>
</html>