<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />

<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/css/bootstrap-datetimepicker.min.css" />

<title>Update Page</title>
</head>
<body>
	<h1>Update Form</h1>
	<div class="container">
		<h1 class="text-center">Update Event Data</h1>
		<form action="/update/create" method="post" th:object="${eventForm}"
			class="form-horizontal">
			<div class="form-group">
				<label for="inputTitle" class="col-xs-2 control-label">Event
					Title</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="inputTitle"
						placeholder="event title" th:field="*{title}"></input>
				</div>
			</div>
			<div class="form-group">
				<label for="inputDate" class="col-xs-2 control-label">Date</label>
				<div class="col-xs-10">
					<input type="date" class="form-control" id="inputDate"
						placeholder="date" th:field="*{date}"></input>
				</div>
			</div>
			<div class="form-group">
				<label for="inputPlace" class="col-xs-2 control-label">Place</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="inputPlace"
						placeholder="Place" th:field="*{place}"></input>
				</div>
			</div>
			<div class="form-group">
				<label for="inputPlaceUrl" class="col-xs-2 control-label">Place
					Url</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="inputPlaceUrl"
						placeholder="URL" th:field="*{placeUrl}"></input>
				</div>
			</div>
			<div class="form-group">
				<label for="inputOpenTime" class="col-xs-2 control-label">Open
					Time</label>
				<div class="col-xs-4">
					<input type="time" class="form-control" id="inputOpenTime"
						placeholder="Open Time" th:field="*{openTime}"></input>
				</div>
				<label for="inputStartTime" class="col-xs-2 control-label">Start
					Time</label>
				<div class="col-xs-4">
					<input type="time" class="form-control" id="inputStartTime"
						placeholder="Start Time" th:field="*{startTime}"></input>
				</div>
			</div>
			<div class="form-group">
				<label for="inputPrice" class="col-xs-2 control-label">Price</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="inputPrice"
						placeholder="Price" th:field="*{Price}"></input>
				</div>
			</div>
			<div class="form-group">
				<label for="inputOther" class="col-xs-2 control-label">Other</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="inputOther"
						placeholder="Other" th:field="*{other}"></input>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-offset-2 col-xs-10">
					<button type="submit" class="btn btn-primary btn-lg">Update</button>
				</div>
			</div>
		</form>
	</div>

	<script
		src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/lang/ja.js"></script>
	<script
		src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript"
		src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script
		src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
</body>
</html>